
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="description" content="" />

    <title>Commits today | De dashboard </title>

    <link rel="stylesheet" href="C:/template/style.css" >
    <script src="C:/template/in.js"></script>
    <script>
    WebFont.load({
      custom: {
        families: ['FontAwesome', 'Fira+Mono'],
      },
      google: {
        families: ['Roboto:400italic,700italic,300,700,400:latin'
        ]
      },
      classes: false,
      events: false,
      timeout: 1000
    });
    </script>
    <script src="/s/js/lib/modernizr.3b36762e418a.js"></script>
    
  </head>

  <body id="dashboard" class="">

    
<div role="banner" id="top">
  <div class="container">
    <h1> Daily Commits </h1>
  </div>
</div>


    <div class="copy-banner">
      <div class="container">
        
 
      </div>
    </div>
    <div id="billboard"></div>

    <div class="container full-width">
      <div role="main">
        
<div class="dashboard-detail">
  <h2><a href="http://code.djangoproject.com/timeline?changeset=on&amp;max=0&amp;daysback=0">Commits today</a></h2>
  <div class="graph-wrapper">
    <div id="graph" class="graph" data-path="https://dashboard.djangoproject.com/metric/" data-metric="commits-today"></div>
  </div>
  <a class="link-readmore back-link" href="C:/template/dashboard.html">All metrics</a>
</div>

        <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Back to Top</a>
      </div>

      
      

    </div>
  
      
<div role="contentinfo">
  <div class="footer">
    <div class="container">
      <div class="footer-logo">

      </div>
      <p class="copyright">&copy; 2015
        Disclaimer: This web page is under development. For any feedback and suggestions please reach us @
        <a href="nc.praveen@gmail.com">Praveen
        </a>.
      </p>
    </div>
  </div>

</div>
  </body>
</html>
